<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Webshop</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to the Game Webshop!</h1>
        <hr class="my-4">
        <p>Choose an option below to get started:</p>
        <a class="btn btn-primary btn-lg" th:href="@{/games/list}" role="button">View Games</a>
        <a class="btn btn-success btn-lg" th:href="@{/games/buy}" role="button">Purchase a Game</a>
    </div>
</div>
</body>
</html>